<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="music.hayasi.android.com.mymusic">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 必选 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />


    <application
        android:name="music.hayasi.android.com.mymusic.MyApplication"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".module.main.FirstActivity"
            android:label="@string/app_name">
            <intent-filter tools:ignore="GoogleAppIndexingWarning">
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".module.mvvm.MvvmListActivity">
            <intent-filter>
                <action android:name="MVVMList" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".module.main.MyImage"
            android:theme="@style/Theme.AppCompat.Dialog">
            <intent-filter>
                <action android:name="MyImage" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".module.mvvm.MvvmActivity">
            <intent-filter>
                <action android:name="MVVM" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".module.Messenger.MessageActivity">
            <intent-filter>
                <action android:name="MessageActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".module.AnimationView.DragMoveActivity">
            <intent-filter>
                <action android:name="DragMove" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".module.AnimationView.AnimActivity">
            <intent-filter>
                <action android:name="Anim" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".module.CustomView.CustomViewActivity">
            <intent-filter>
                <action android:name="CustomViewActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".module.MaterialDesign.DesignActivity">
            <intent-filter>
                <action android:name="DesignActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".module.NetWork.NetActivity">
            <intent-filter>
                <action android:name="NetActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".module.model.ModelActivity">
            <intent-filter>
                <action android:name="ModelActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity android:name=".module.MaterialDesign.DesignScrollActivity">
            <intent-filter>
                <action android:name="DesignScrollActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".module.View.PhotoViewActivity">
            <intent-filter>
                <action android:name="PhotoViewActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".module.Footer.FooterActivity">
            <intent-filter>
                <action android:name="FooterActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name=".module.Dialog.DialogActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="DialogActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity android:name=".module.TextViewActivity.TextViewActivity">
            <intent-filter>
                <action android:name="TextViewActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".module.QQReFresh.ReFreshActivity">
            <intent-filter>
                <action android:name="ReFreshActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".module.Guide.GuideActivity">
            <intent-filter>
                <action android:name="GuideActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".module.Path.PathActivity">
            <intent-filter>
                <action android:name="PathActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".module.Path.Path2Activity"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="Path2Activity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        /////////////////////////////////////////////////////////////////////

        <service android:name=".module.Messenger.MessagerService" />
        <service android:name=".module.Aidl.MyService">
            <intent-filter>
                <action android:name="cc.abto.server" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        /* -------------------------------------------------- */

        <!--  bug Hd   -->
        <meta-data
            android:name="BUG_HD_SDK_GENERAL_KEY"
            android:value="298c9acd65e57d28ef96295f819ed0e0" />


        /* ---------------bugly----------------------------------- */
        <!-- 配置APP版本号 -->
        <meta-data
            android:name="BUGLY_APP_VERSION"
            android:value="1.0.6" />
        <!-- 配置APP渠道号 -->
        <!-- 配置Bugly调试模式（true或者false）-->

        <meta-data
            android:name="BUGLY_APPID"
            android:value="5af2eefcbe" />
        <!-- 配置APP渠道号 -->
        <meta-data
            android:name="BUGLY_APP_CHANNEL"
            android:value="测试" />
        <!-- 配置Bugly调试模式（true或者false）-->
        <meta-data
            android:name="BUGLY_ENABLE_DEBUG"
            android:value="true" />

    </application>

</manifest>